<div id="shopify-section-footer" class="shopify-section"><footer id="section-footer" data-section-id="footer" data-section-type="footer" class="Footer Footer--center" role="contentinfo"><footer class="text-sm text-gray-600">
  <div class="container grid items-center gap-5 py-8 sm:flex sm:gap-10">
   <ul class="HB-Footer-Links-Social">
            
            	<li><a href="mailto:hi@happybeing.co" class="HB-Footer-Links-Email">hi@happybeing.co</a></li>
            
            
            	<li><a href="https://www.instagram.com/happybeing.co/" class="HB-Footer-Links-Instagram">Instagram</a></li>
            
            
            	<li><a href="https://www.facebook.com/officialhappybeing" class="HB-Footer-Links-Facebook">Facebook</a></li>
            
            
            	<li><a href="https://twitter.com/happybeing_co" class="HB-Footer-Links-Twitter">Twitter</a></li>
            
            
            	<li><a href="https://www.reddit.com/user/happybeing_co" class="HB-Footer-Links-Reddit">Reddit</a></li>
            
          </ul>
  </div>
</footer>
</div>
